{% extends 'lab2/password/lab2_password_base.html' %}
{% block page %}
    <h3>Let's Get Some Information</h3>
    <form action="/lab2/password" method="POST">
        <div>
            <label for="length">Length of Password:</label>
            <input type="number" id="length" name="length" required>
        </div>

        <div>
            <label for="lowercase">Use Lowercase Letters:</label>
            <select id="lowercase" name="lowercase" required>
                <option value="True">True</option>
                <option value="False">False</option>
            </select>
        </div>

        <div>
            <label for="uppercase">Use Uppercase Letters:</label>
            <select id="uppercase" name="uppercase" required>
                <option value="True">True</option>
                <option value="False">False</option>
            </select>
        </div>

        <div>
            <label for="numbers">Use Numbers Letters:</label>
            <select id="numbers" name="numbers" required>
                <option value="True">True</option>
                <option value="False">False</option>
            </select>
        </div>

        <div>
            <label for="specials">Use Specials Letters:</label>
            <select id="specials" name="specials" required>
                <option value="True">True</option>
                <option value="False">False</option>
            </select>
        </div>

        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}