{% extends 'lab2/percentage/lab2_percentage_base.html' %}
{% block page %}
    <h3>Let's Enter Some Numbers</h3>
    <form action="/lab2/percentage" method="POST">
        <div>
            <label for="numerator">Numerator:</label>
            <input type="number" step="any" id="numerator" name="numerator" required>
        </div>

        <div>
            <label for="denominator">Denominator:</label>
            <input type="number" step="any" id="denominator" name="denominator" required>
        </div>

        <div>
            <label for="decimals">Number of Decimals:</label>
            <input type="number" step="1" id="decimals" name="decimals" value="0" required>
        </div>

        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
{% endblock %}