{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
    <h1>Welcome!</h1>
    <p>Hi, I am Jared Morris, and I am working on moving most of the projects I have done from SDEV-300 from a console application to here!</p>
    <p>To navigate to each section, use the navigation bar above and check out everything!</p>
    <hr>
    <h1>About Jared Morris</h1>
    <table>
        <tr>
            <th>Age</th>
            <th>Earth Born?</th>
        </tr>
        <tr>
            <td>Between 0 and infinity years old</td>
            <td>Possibly</td>
        </tr>
    </table>
{% endblock %}