{% extends 'base.html' %}
{% block title %} 
Scary Code
{% endblock %}

{% block content %}
    <h1>Scary Code</h1>
    <p>Here is a list of some scary code I found on the internet:</p>
    <ul>
        <li>
            <a target="_blank" href="https://www.geeksforgeeks.org/java-hello-world-program/">Hello World In Java</a>
        </li>
        <li>
            <a target="_blank" href="https://www.geeksforgeeks.org/python-program-to-add-two-numbers/">Adding Numbers in Python</a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/jemraider21/portfolio-react">A website created in JavaScript</a>
        </li>
    </ul>
{% endblock %}